@model IEnumerable<Vidly.Models.Customers>
@{
    ViewBag.Title = "Customers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customers</h2>
@if (!Model.Any())
{
    <p>We don't have any customers yet.</p>
}
else
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Customer Name</th>
                <th>Membership Type</th>
                @*<th>Discount Rate</th>*@
                <th>Action</th>
            </tr>

        </thead>

        <tbody>
            @foreach (var customer in Model)
            {
                <tr>
                    <td>@Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)</td>
                    <td>@customer.MembershipType.Name</td>
                    <td>
                        <button data-customer-id="@customer.Id" class="btn-link js-delete">Delete</button>
                    </td>
                    @*<td>@customer.MembershipType.DiscountRates%</td>*@
                </tr>
            }
        </tbody>
    </table>
}
@section scripts
{
    <script>
        $(document).ready(function () {

            $("#customers .js-delete").on("click", function () {
                var buttons = $(this);
                bootbox.confirm("Are you sure want to delete this customer?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + buttons.attr("data-customer-id"),
                            method: "DELETE",
                            success: function () {
                                buttons.parents("tr").remove();
                            }
                        });
                    }
                });
            });
        });
    </script>
}